/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 
.main{
    position: absolute;
    width: 100%;
    height:99px;
    left: 50%;
    top: 50%;
}
.picture{
    width: 99px;
    height: 99px;
}


body {background-color: grey;}


